{
  "extends": "standard",
  "plugins": ["compat"],
  "parserOptions": {
      "sourceType": "module"
  },
  "env": {
      "node": false,
      "browser": true
  },
  "settings": {
      "polyfills": [
          "Array.from",
          "Array.isArray",
          "ArrayBuffer",
          "BigInt",
          "Blob",
          "console",
          "DataView",
          "Error",
          "File",
          "FileReader",
          "Float64Array",
          "ImageData",
          "Int8Array",
          "Intl",
          "JSON",
          "location.href",
          "Map",
          "Object.assign",
          "Object.defineProperty",
          "Object.entries",
          "Object.keys",
          "performance",
          "Promise",
          "Set",
          "Symbol",
          "Uint16Array",
          "Uint8Array",
          "Uint8ClampedArray",
          "URL",
          "Worker",
          "XMLHttpRequest"
      ]
  },
  "rules": {
    "compat/compat": "error",
    "semi": [2, "always"],
    "indent": ["error", 4, {"outerIIFEBody": 0}],
    "object-property-newline": 0,
    "one-var": 0,
    "no-var": 2,
    "prefer-const": 2,
    "object-curly-spacing": ["error", "never"]
  }
}
